<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <span class="panel-head-title">血站管理</span>
                    <div class="pull-right"><button class="btn btn-success btn-sm">增加</button> </div>
                </div>
                <div class="panel-body">
                    <table id="stations-table" class="display table table-bordered table-responsive table-striped">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>地点</th>
                            <th>负责人</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>编号</td>
                            <td>名称</td>
                            <td>地点</td>
                            <td>负责人</td>
                            <td>电话</td>
                            <td><a href="javascript:;"><i class="fa fa-edit"></i>详情</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>修改</a>
                                <a href="javascript:;"><i class="fa fa-trash"></i>删除</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>检查</a>
                            </td>
                        </tr>
                        <tr>
                            <td>编号</td>
                            <td>名称</td>
                            <td>地点</td>
                            <td>负责人</td>
                            <td>电话</td>
                            <td><a href="javascript:;"><i class="fa fa-edit"></i>详情</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>修改</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>删除</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>检查</a>
                            </td>
                        </tr>
                        <tr>
                            <td>编号</td>
                            <td>名称</td>
                            <td>地点</td>
                            <td>负责人</td>
                            <td>电话</td>
                            <td><a href="javascript:;"><i class="fa fa-edit"></i>详情</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>修改</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>删除</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>检查</a>
                            </td>
                        </tr>
                        <tr>
                            <td>编号</td>
                            <td>名称</td>
                            <td>地点</td>
                            <td>负责人</td>
                            <td>电话</td>
                            <td><a href="javascript:;"><i class="fa fa-edit"></i>详情</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>修改</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>删除</a>
                                <a href="javascript:;"><i class="fa fa-edit"></i>检查</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>